Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea/.idea.Baiguizhen/.idea/copilot.data.migration.agent.xml
.idea/.idea.Baiguizhen/.idea/copilot.data.migration.ask.xml
.idea/.idea.Baiguizhen/.idea/copilot.data.migration.ask2agent.xml
.idea/.idea.Baiguizhen/.idea/copilot.data.migration.edit.xml
.idea/.idea.Baiguizhen/.idea/encodings.xml
.idea/.idea.Baiguizhen/.idea/indexLayout.xml
.idea/.idea.Baiguizhen/.idea/vcs.xml
.idea/.idea.Baiguizhen.dir/.idea/copilot.data.migration.agent.xml
.idea/.idea.Baiguizhen.dir/.idea/copilot.data.migration.ask.xml
.idea/.idea.Baiguizhen.dir/.idea/copilot.data.migration.ask2agent.xml
.idea/.idea.Baiguizhen.dir/.idea/copilot.data.migration.edit.xml
